body {
    background: linear-gradient(to right, #000000, #19353c);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
  }
  
  h2 {
    text-align: center;
    color: #2d545e;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    color: #2d545e;
  }
  
  .input-group input {
    width: calc(100% - 22px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #c89666;
  }
  
  button {
    background-color: #c89666;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  .message {
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }
  
  .error {
    background-color: #ffcccc;
    color: #cc0000;
  }
  
  .success {
    background-color: #ccffcc;
    color: #009900;
  }
  .forgot-password {
    text-align: right;
    margin-top: 10px;
  }
  
  .forgot-password a {
    color: #0066cc;
    text-decoration: underline;
  }

